/*================= RESET =============== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    width: 100%;
    height: auto;
  }

  /* ============== HOME ====================== */
#rectangle{
    width: 339px;
    height: 865px;
    background: #0B0821;
}

.box {
    position: absolute;
    width: 283px;
    height: 728px;
    left: 28px;
    top: 81px;
    background: #211F38;
    border-radius: 13px;
  }



img {
    width: 100%;
    height: auto;
    border-radius: 13px 13px 0px 0px;
    

  }

h1{
    position: absolute;
    width: 201px;
    height: 90px;
    left: 69px;
    top: 355px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;   
    color: #FFFFFF; 
}  

 p#content {
    position: absolute;
    width: 201px;
    height: 83px;
    left: 69px;
    top: 473px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #A4A3B5;
}

strong{
    color: #A45AD1;
}